#mainarea {
	background-color:blue;
	width: 62%;
	float:left;
	color: #000000;
	padding: 2.5%;
}
 #header {
 	color: #2BA636;
 	width: 100%;
 	border: solid;


}

body,td,th {
font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif; padding:10px; }
body {
}
.myheader{ height:171px; background:url(images/header-background.png) repeat-x; } body,td,th { font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif; } body { background-color: #FFF; }
#logo{ background: green url(images/logo.png) no-repeat top; width:263px; height:253px; padding:10; margin:10px; float: left;
}

.myfooter{ height:40px; background:url(images/header-background.png) repeat-x; } body,td,th { font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif; } body { background-color: #FFF; }


 #footer {
	clear: left;
	background-color: #C6FFC3;


 }

 #sidebar {
	float:right;
    width: 200px;
 	color: #2AD0FF;
 }

#wrapper  {
	width: 1000px;
	margin: 0 auto;
	background-color: #2AD0FF;
	border-style: solid;
 	border-color: #0DFFA0;
 	border-width: 5px;
	padding: -2.5%;
 }
body  {
	background-color:#064A85

}

a:link {
 	color: #F0FFFF;
 }

 a:hover {
 	color: red;}


img
{
	width: 100%;
	max-width: 600px;
}

p{
	color:black;
	font-size: 12pt;
}


h1{font-family: 'Fjalla One', sans-serif;
color: white;
font-size:48pt; }

h2{font-family: 'PT Sans Caption', sans-serif;
font-size:28pt;  }

h3{
	color:white;
	text-align: center;
	font-size: 8pt;
	padding-top: 10px;
}

.a{
	background:yellow;
}

.b{
	background: yellow;
}

.d{
	color:yellow;
}

.ArtTitle{
	font-size: 23pt;
	text-align: center;
/*	padding-right: 100px;
*/

}

.MArtImg{
	text-align: center;
}
.ArtImg{
	text-align: center;
	padding: 15px;
}

.ImgCentre {
	text-align: center;
}

.Clickable{
	color: black;
}

.ArtPara{
	text-align: center;
}


.myheader{ height:171px; background:url(images/header-background.png) repeat-x; } body,td,th { font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif; } body { background-color: #FFF; }
#logo{ background: green url(images/logo.png) no-repeat top; width:263px; height:253px; padding:10; margin:10px; float: left;
}

.hideme{ display:none; }
.advert { }
#adlink{ display:block; overflow:hidden;
height:275px; background: green url(images/advert1.jpg) no-repeat; margin-bottom:40px
}
#adlink2{ display:block; overflow:hidden;
height:191px; background:green url(images/advert2.jpg) no-repeat; margin-bottom:40px
}
#adlink3{ display:block; overflow:hidden;
height:400px; background:green url(images/advert3.jpg) no-repeat; margin-bottom:20px
}


#adlink5{ display:block; overflow:hidden;
height:191px; background:green url(images/advert5.jpg) no-repeat; margin-bottom:20px
}
#adlink6{ display:block; overflow:hidden;
height:191px; background:green url(images/advert6.jpg) no-repeat; margin-bottom:20px
}
#adlink7{ display:block; overflow:hidden;
height:191px; background:green url(images/advert7.jpg) no-repeat; margin-bottom:20px
}

/*Slider*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.mySlides {display: none
}

img {vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
	text-align: center;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.SlideImage {
	height: 400px;
	width: 800px;
}

.MAbImg {
	height: 376px;
	width: 353px;
}

/* Side Menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
	background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.Menu
{
color: white;
padding-top: 50px;
padding-left: 10px;
background:url(images/header-background.png) repeat-x;
height: 171px;

}

/* Social Media*/

.fa {
  font-size: 30px;
  width: 40px;
	height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	padding-top: 6px;
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
	padding-top: 6px;
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
	padding-top: 6px;
  background: #007bb5;
  color: white;

}
.fa-google {
	padding-top: 6px;
  background: #dd4b39;
  color: white;
}

.fa-instagram {
	padding-top: 6px;
  background: #125688;
  color: white;
}
